.booking {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.booking_content{
  grid-column: 2/4;
}

.booking_sidebar {
  position: sticky;
  top: 100px;
  width: 300px;
  height: 700px;
  background-color: aqua;
  grid-column: 4/5;
}

.booking_block {
  margin: 20px 0;
}

.booking_table {
  border: 7px solid rgb(208, 208, 208);
  border-collapse: collapse;
}

.booking_table td {
  min-width: 100px;
  padding: 20px;
}

.booking_table tr > :first-child {
  background-color: rgb(230, 230, 230);
}